{% extends "base.html" %} {% block content %}
<div class="jumbotron rounded-0">
    <div class="container text-center">
        <div id="jumbo-text">
            <h1 class="display-4">Menufy</h1>
            <p class="lead">Welcome to {{restaurant_name}} Business Page</p>
        </div>
    </div>
</div>
{% if restaurant_username %}
<div class="list-group">

    <a class="list-group-item  list-group-item-active" id="get-orders" method="GET" href="/business/{{restaurant_id}}/orders"> Current Orders</a>

    <a class="list-group-item list-group-item-active" id="get-inventory" method="GET" href="/business/{{restaurant_id}}/inventory"> Inventory Levels</a>


</div>
{% endif %} {% endblock %}