{% extends "base.html" %} {% block content %}
<div class="jumbotron rounded-0">
    <div class="container text-center">
        <div id="jumbo-text">
            <h1 class="display-4">Menufy</h1>
            <p class="lead">{{restaurant_name}} Current Orders</p>
        </div>
    </div>
</div>

<div>
    <form id="business_orders_form{{restaurant_id}}" method="POST" action="/order/{{restaurant_id}}">
        <table class="table table-hover table-striped table-dark">
            <tbody id="order">
            </tbody>
        </table>
    </form>

    <script type="text/javascript">
        var order_data = JSON.parse('{{ order_data |  safe }}');

        var transform = {
            "<>": "tr",
            'id': '${order_id}',
            "children": [{
                "<>": "td",
                'id': '${order_id}',
                "name": "order_id",
                "value": '${order_id}'
            }, {
                "<>": "td",
                'name': 'order_status',
                "html": "${order_status}",
                "value": "order_status"
            }, {
                "<>": "td",
                "html": "${order_time}"
            }, {
                "<>": "td",
                "html": "${order_type}"
            }, {
                "<>": "td",
                "children": [{
                    '<>': 'button',
                    'type': 'button',
                    'id': 'completed',
                    'class': 'completed',
                    'html': 'Order completed'
                }]
            }]
        };

        $('#order').html(json2html.transform(order_data, transform));

        // $('.sub').click(function() {
        //     if ($(this).next().val() > 0) $(this).next().val(+$(this).next().val() - 1);
        // });
    </script>
</div>
{% endblock %}