{% extends "base.html" %} {% block content %}
<div class="jumbotron rounded=0">
    <h2 class="text-center"> Menu </h2>
    <!-- <h2 class="text-center" onload="loadData({{ data}})"> Menu </h2> -->

</div>

<div>
    <!-- <p id="menu">
    </p> -->

    <p>{{ data | safe }}</p>

    <table id="menu">
        <tbody>
        </tbody>
    </table>


    <!-- <script type="text/javascript">
        var response = JSON.parse('{{ data |  safe }}');
        var text = "";
        console.log(response[0])

        for (i = 0; i < response.length; i++) {
            text += response[i]["item_name"] + response[i]["item_unit_price"] + "<br>";
        }
        document.getElementById("menu").innerHTML = text;
    </script> -->

    <script type="text/javascript">
        var data = '{{ data |  safe }}';
        var transform = {
            " tag ": "table ",
            "children ": [{
                "tag ": "tbody ",
                "children ": [{
                    "tag ": "tr ",
                    "children ": [{
                        "tag ": "td ",
                        "html ": "${item_name} "
                    }, {
                        "tag ": "td ",
                        "html ": "${item_description} "
                    }]
                }]
            }]
        };
        $('#menu').html(json2html.transform(data, transform));
    </script>
</div>

{% endblock %}