{% extends "base.html" %} {% block content %}
<div class="jumbotron rounded=0">
    <h2 class="text-center"> Menu </h2>
    <!-- <h2 class="text-center" onload="loadData({{ data}})"> Menu </h2> -->

</div>

<div>
    <!-- <p id="menu">
    </p> -->

    <!-- <p>{{ data | safe }}</p> -->

    <!-- <table>
        <tbody id="menu">
        </tbody>
    </table> -->

    <table id="menu" class="menu-table">
    </table>


    <script type="text/javascript">
        var response = JSON.parse('{{ data |  safe }}');
        var text = "<tr>";

        for (key in response[0]) {
            text += '<td>' + key + '</td>';
        }

        text += "</tr>";

        for (i = 0; i < response.length; i++) {
            text += "<tr>";
            console.log(response[i])
            for (key in response[i]) {
                text += "<td>" + response[i][key] + "</td>";
            }
            text += "</tr>";
        }
        document.getElementById("menu").innerHTML = text;
    </script>

    <!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
        var data = '{{ data |  safe }}';
        var transform = {
            " tag ": "table ",
            "children ": [{
                "tag ": "tbody ",
                "children ": [{
                    "tag ": "tr ",
                    "children ": [{
                        "tag ": "td ",
                        "html ": "${item_name} "
                    }, {
                        "tag ": "td ",
                        "html ": "${item_description} "
                    }]
                }]
            }]
        };
        $('#menu').html(json2html.transform(data, transform));
    </script> -->
</div>

{% endblock %}