{% extends "base.html" %} {% block content %}
<div class="jumbotron rounded=0">
    <div class="login-form">
        <form action="/login" method="POST">
            <h2 class="text-center">Menu Test Test </h2>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="locationMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Location</button>
                <div class="dropdown-menu" aria-labelledby="locationMenuButton">
                    {% for row in location %}
                    <div class="dropdown-item">
                        <form id="loc_form{{row.loc_id}}" method="post" action="/views/{{row.loc_name}}">
                            <input type="hidden" id="loc_id" name="loc_id" value="{{row.loc_id}}">
                            <a class="btn btn-link" onclick="document.getElementById('loc_form{{row.loc_id}}').submit();" role="menuitem" tabindex="-1">{{row.loc_name}}</a>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}