{% extends "base.html" %} {% block content %}
<div class="jumbotron rounded=0">
    <h2 class="text-center"> Order Page  for {{ order.restName }} </h2>
    <!-- <h2 class="text-center" onload="loadData({{ data}})"> Menu </h2> -->

</div>
<!--
<div>
    {% for key, value in order.items() %}
        <p><b>{{ key }}: </b>{{ value }}</p>
    {% endfor %}
</div>

<div>
    <p align = "center" > Order Summary for {{ order.username }} </p> 
    <p align = "center" > Order Subtotal: {{ order.orderSubtotal }} </p>
</div>
-->

<div>
    <table align="center">
        <thead>
            <tr>
                <th colspan="3", align="center"> Order Summary for {{ order.username }} </th>
            </tr>
        </thead>
        <tbody></tbody>
            <tr>
                <td> Menu Item      </td>
                <td> Quantity       </td>
                <td> Subtotal </td>
            </tr>
            {%for item in itemDetails %}
            <tr>
                <td> {{item.item_name}}     </td>
                <td align="right"> {{item.quantity}}      </td>
                <td align="right"> {{item.item_subtotal}}         </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Order Total</td>
                <td> {{order.orderSubtotal}} </td>
            </tr>
    </table>
    
</div>

{% endblock %}