{% extends "base.html" %} {% block content %}
<div class="jumbotron rounded=0">
    <h2 class="text-center"> Order History Page </h2>
</div>

<div class="col-lg-12 container">
    <h3>Filter Table By:</h3>
    <div class="container">
      
      <form class="was-validated" id="sort_by" action="./order_history" method="post">
        <div class="form-group">        
          <div class="form-group">
            <label for="orderDate">Order Date</label>
            <input type="date" class="form-control is-invalid" id="orderDate" placeholder="Order Date" name="order_date" />
          </div>
        </div>

        <div class="form-group">        
            <div class="form-group">
              <label for="orderTime">Order Time</label>
              <input type="time" class="form-control is-invalid" id="orderTime" placeholder="Order Time" name="order_time" step="1"/>
            </div>
          </div>
          
        <div class="form-group">        
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control is-invalid" id="endDate" name="end_date" />
          </div>
        </div>

        <div class="form-group">        
            <div class="form-group">
              <label for="endTime">End Date</label>
              <input type="time" class="form-control is-invalid" id="endTime" name="end_time" step="1" />
            </div>
        </div>
          
          
        <div class="form-group">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      
    </div>
  </div>
  
  <div class="col-lg-12 row">
  
      <h3>All Orders By Filter</h3>
  
      <table class="table table-hover table-dark">
          <thead>
          <tr>
              <th scope="col" style="display:none">restaurant_id</th>
              <th scope="col">Restaurant Name</th>
              <th scope="col">Order Number</th>
              <th scope="col">Order Time</th>
              <th scope="col">Order Completion Time </th>
              <th scope="col">Order Contents</th>
          </tr>
          </thead>
          <tbody>
          {% if orders['Items'] %}
          {% for order in orders['Items'] %}
          <tr>
              <td style="display:none"> {{order.restaurant_id}}</td>
              <td scope="row">{{order.restaurant_name}}</td>
              <th scope="row">{{order.order_id}}</th>
              <td scope="row">{{order.order_time}}</td>
              <td scope="row">{{order.order_fulfilled_time}}</td>
              <td scope="row">{{order.order_status}}</td>
          </tr>
          {% endfor %}
          {% endif %}
          </tbody>
      </table>
  </div>

{% endblock %}