{% extends "base.html" %} {% block content %}
<div class="jumbotron rounded-0">
    <div class="container text-center">
        <div id="jumbo-text">
            <h1 class="display-4">Menufy</h1>
            <p class="lead">Order Summary for {{ order.username }}</p>
        </div>
    </div>
</div>

<div>
    <p>
        <h2>
            Thank you for your order from {{ order.restName}}
        </h2>
    </p>
    <p>
	Below are the details of your recent order
    </p>

    <p>
        Order Placed: {{ order.order_time}}
        <br>
        Order Confirmation: {{ order.confirmation}}
        <br>
        Order Subtotal: ${{ order.subtotal}}
        <br>
        Tax: ${{order.tax}}
        <br>
        Order Total: ${{order.total}}
        <br>
        Please call {{ order.restName}} at {{order.restPhone}} with any questions or concerns for your order.
    </p>
    <p>
        Check the status of your order <a href={{confirmation_url}}> here </a>
    </p>
</div>

{% endblock %}