{% extends "base.html" %} {% block content %}
<div class="jumbotron rounded-0">
    <div class="container text-center">
        <div id="jumbo-text">
            <h1 class="display-4">Menufy</h1>
            <p class="lead">Welcome to {{restaurant_id}}</p>
        </div>
    </div>
</div>

<div>
    <table class="table table-hover table-striped table-dark" id="menu">
    </table>


    <script type="text/javascript">
        var menu_data = JSON.parse('{{ menu_data |  safe }}');
        var text = "<tr>";
        var headers = ['Menu Item', 'Description', 'Unit Price', ]

        for (i = 0; i < headers.length; i++) {
            text += '<th scope="col">' + headers[i] + '</th>';
        }

        // add column for add column
        text += '<td scope="col"></td>';

        text += "</tr>";

        for (i = 0; i < menu_data.length; i++) {
            text += "<tr>";
            for (key in menu_data[i]) {
                if (key == "item_name" || key == 'item_description' || key == 'item_unit_price')
                    text += '<td scope="row">' + menu_data[i][key] + "</td>";
            }
            text += '<td class="menu"> <form action="" method="post"><button name="menu_item_id" value=' + menu_data[i]["menu_item_id"] + '> Add </button></form></td>';
            text += '<td><button type="button" id="sub" class="sub">-</button> <input type="text" id="1" value="0" class="field" /><button type="button" id="add" class="add">+</button></td>';
            text += "</tr>";
        }
        document.getElementById("menu").innerHTML = text;
    </script>
</div>
{% endblock %}