{% extends "base.html" %} {% block content %}
<div class="jumbotron rounded-0">
    <div class="container text-center">
        <div id="jumbo-text">
            <h1 class="display-4">Menufy</h1>
            <p class="lead">You made it to {{restaurant_id}} Page!!!</p>
        </div>
    </div>
</div>

<div>

    <table class="menu" id="menu" align="center">
    </table>


    <script type="text/javascript">
        var response = JSON.parse('{{ data |  safe }}');
        var text = "<tr>";
        var headers = ['Menu Item', 'Description', 'Unit Price', ]

        for (i = 0; i < headers.length; i++) {
            text += '<td>' + headers[i] + '</td>';
        }

        // add column for add column
        text += '<td class="menu"></td>';

        text += "</tr>";

        for (i = 0; i < response.length; i++) {
            text += "<tr>";
            for (key in response[i]) {
                if (key == "item_name" || key == 'item_description' || key == 'item_unit_price')
                    text += "<td>" + response[i][key] + "</td>";
            }
            text += '<td class="menu"> <form action="" method="post"><button name="menu_item_id" value=' + response[i]["menu_item_id"] + '> Add </button></form></td>';
            text += "</tr>";
        }
        document.getElementById("menu").innerHTML = text;
    </script>
</div>
{% endblock %}