html,
body {
    background: no-repeat center center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body #randbg {
    background: no-repeat center center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav {
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); */
    font-family: 'Yeseva One', cursive;
    color: white;
    font-weight: 600;
}

.modBar {
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4); */
    font-family: 'Yeseva One', cursive;
    color: rgb(2, 3, 68);
    font-weight: 600;
}

.jumbotron {
    background: none;
    padding-top: 10%;
    padding-bottom: 10%;
}

.jumbotron h1,
.jumbotron p {
    font-family: 'Alike', serif;
    font-weight: 600;
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); */
    color: #f4f4f4;
}

#jumbo-text {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}

.backdrop {
    color: white;
    font-weight: 600;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}

.dropdown button {
    border: 1px solid orange;
    margin-top: 5%;
}

.login-form {
    width: 340px;
    margin: 30px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.btn-warning {
    min-height: 40px;
    border-radius: 2px;
    margin-bottom: 50px;
    float: right;
}

.form-control {
    min-height: 40px;
    border: none;
    margin-bottom: 50px;
    float: right;
}

.login-btn {
    font-size: 15px;
    font-weight: bold;
}

.social-btn .btn {
    margin: 10px 0;
    font-size: 15px;
    text-align: left;
    line-height: 24px;
}

.input-group-addon .fa {
    font-size: 18px;
}

.input-group {
    width: auto;
}

input {
    width: 40px;
    padding: 0px;
}

.list-group-item {
    border: none;
    text-decoration: none !important;
    background-color: #343a40 !important;
    color: #fff;
}